<div class="row">
    <div class="col-md-10">
        <div class="row text-center">
            <button ng-click="domino.dominoStateService.RotateLeft()" class="btn"> Rotate Left </button>
            <button ng-click="domino.dominoStateService.ClearState()" class="btn"> Clear </button>
            <button ng-click="domino.dominoStateService.RotateRight()" class="btn"> Rotate Right </button>
        </div>
        <div ui-view="dominoView"></div>
        <div ui-view="settingsView"></div>
    </div>
    <div class="col-md-2">
        <div ui-view="facesControl"></div>
    </div>
</div>
